//custom variables
$primary: rgb(222, 106, 0);
$body-bg: #000000;
$card-bg: #000000;

$box-shadow: 0 0 2px rgba(222, 106, 0, 0.9), 0 0 4px rgba(222, 106, 0, 0.4), 0 0 1rem rgba(222, 106, 0, 0.3), 0 0 4rem rgba(222, 106, 0, 0.1);


//import bootstrap
@import "~bootswatch/dist/superhero/variables";
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "~bootswatch/dist/superhero/bootswatch";
